.update-form {
  margin-top: 20px;
}

select {
  appearance: none;
}

.update-input-container {
  display: flex;
  margin-bottom: 20px;
}

.update-label {
  display: flex;
  align-items: center;
}

.update-date-label {
  display: flex;
  align-items: center;
}

.update-name-input,
.update-priority-input,
.update-status-input,
.update-assigned-input {
  width: 320px;
  height: 40px;
  margin-left: auto;
}

.update-date-input {
  width: 320px;
  height: 40px;
  margin-left: 75px;
}

.update-name-input:focus,
.update-priority-input:focus,
.update-status-input:focus,
.update-assigned-input:focus {
  outline: none;
}

.update-description-textarea {
  padding: 2px;
  width: 320px;
  height: 55px;
  min-height: 55px;
  resize: none;
  margin-left: auto;
  overflow: hidden;
}

.update-description-textarea:focus {
  outline: none;
}

.update-button {
  display: flex;
  margin-left: auto;
  border: 1px solid white;
  padding: 10px;
  background: black;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border-radius: 3px;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
}

.update-button:hover {
  border: 1px solid black;
  background: white;
  color: black;
}
